/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	body {
	background: green;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	body {
		background: blueviolet;
	}
}

/* Landscape phones and down */
@media (max-width: 600px) {

	body {
		background: goldenrod;
	}

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

	.container {
		grid-template-columns: repeat(2, 200px);
		grid-template-rows: repeat(3, 200px);
	}

	.gridItem {
		display: none;
	}

	.gridItem:nth-child(-n+9) {
		display: block;
	}
}