// COLOURS
$accent: #2c2c2c;
$secondary: white;
$primary: #000;


body {
    @include font(24);   
    background-color: whitesmoke; 
    color: $primary;
    text-align: center;
}

h1 {
    @include font(40);
    text-align: center;
    color: $primary;
}